<!DOCTYPE html>
<html>
    <head>
        <title>X Debugger</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        {% for i in range(source_lines|length) %}
            <pre class="code_line">{{source_lines[i]}}</pre>
            <pre>{{token_lines[i]|safe}}</pre>
        {% endfor %}

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/fastquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/debug.js') }}"></script>
    </body>
</html>