<!DOCTYPE html>
<html>
    <head>
        <title>Hello World</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <p>
            <input type="text" class="input" id="file_path" placeholder="Enter file path to X code file">
        </p>

        <p>
            <input type="button" class="button" id="debug" value="Debug Code">
        </p>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>