.button {
    border: 2px solid black;
    border-radius: 10px;
    background: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
}

.button:hover {
    background: black;
    color: white;
}

.input {
    border: 1px solid black;
    border-radius: 10px;
    background: none;
    color: black;
    padding: 10px;
    width: 25%;
}

.code_line {
    background: #d1f0ff;
}